<!DOCTYPE html>
<html lang="en">
<%-include('layouts/header');-%>    
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
        <%-include('layouts/navbar');-%>
            <!-- Header-->
            <header class="py-5">
                <div class="container px-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="text-center my-5">
                                <h1 class="fw-bolder mb-3">Envisioning a world where the everyone stays inspired.</h1>
                                <p class="lead fw-normal text-muted mb-4">To know how to get from point A to point B in life has been throughly analysed by so many self-help books. After reading a 100 book it finally boiled down to "Only YOU can Change your life"
                                    If you don't want to change your life. If you want a life that you are in peace with. Then let it be. When you find something, come across an idea or experience intense and sustained excitement when you do something, your life
                                    will change. Be yourself. Live in this moment or in the future or die trying to recreate the past. Its your life. Just keep Crunching your Wisdom.... 
                                </p>
                                <a class="btn btn-primary btn-lg" href="#scroll-target">Get Crunching</a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- About section one-->
            <section class="py-5 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="./assets/1200px-Node.js_logo.svg.png" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">My founding</h2>
                            <p class="lead fw-normal text-muted mb-0">Getting a machine to do the grunt work, while I do the interesting work. Learning to talk with the machine, in its language of Logic, syntax and 
                                unwavering precision. If you ever felt the life needs to be more simple, it cannot be more simple than logic of a machine. Only our demands from the machine grows the complexity. Problem
                                solving is about knowing ourself and Crunching our Wisdom
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section two-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="./assets/800px-Python-logo-notext.svg.png" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Crunching&amp; Wisdom</h2>
                            <p class="lead fw-normal text-muted mb-0">Having a 6 pack abs and toned body is ephemeral. Every moment your body tries to become disorderly, and fat. Ageing is real. What can be done? Crunching Wisdom was born
                                out of that crunch moment. When I got hands on Javascript and the its myriad libraries, that automated this website. That is Crunching Wisdom moment. Solving problems by trial error can be 
                                very addictive. Such an addiction makes confidence and gives purpose. That is Crunching Wisdom 
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Team members section-->
            <section class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="fw-bolder">One Man</h2>
                        <p class="lead fw-normal text-muted mb-5">Dedicated to Freedom</p>
                    </div>
                    <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <h5 class="fw-bolder">Solver Bot</h5>
                                <div class="fst-italic text-muted">Founder &amp; Chief Answer Officer</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <h5 class="fw-bolder">Army of Distributed Minions</h5>
                                <div class="fst-italic text-muted">Cheif Answer Sources</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-sm-0">
                            <div class="text-center">
                                <h5 class="fw-bolder">Python and libraries</h5>
                                <div class="fst-italic text-muted">Datagathering and Analysis</div>
                            </div>
                        </div>
                        <div class="col mb-5">
                            <div class="text-center">
                                <h5 class="fw-bolder">Javascript and Node</h5>
                                <div class="fst-italic text-muted">Chief Inspiration Sources</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <%-include('layouts/footer');-%>
        <%-include('layouts/scripts');-%>
    </body>
</html>
