<!DOCTYPE html>
<html lang="en">
<%-include('layouts/header');-%>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
        <%-include('layouts/navbar');-%>
            <!-- Page Content-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="text-center mb-5">
                        <h1 class="fw-bolder">Frequently Asked Questions</h1>
                        <p class="lead fw-normal text-muted mb-0">How can we help you?</p>
                    </div>
                    <div class="row gx-5">
                        <div class="col-xl-8">
                            <!-- FAQ Accordion 2-->
                            <h2 class="fw-bolder mb-3">Problem Solving & WebDev</h2>
                            <div class="accordion mb-5 mb-xl-0" id="accordionExample2">
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingOne"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">How can I learn coding languages free from home like HTML5, CSS, Python, Python Core, Java, and JavaScript?</button></h3>
                                    <div class="accordion-collapse collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample1">
                                        <div class="accordion-body">
                                            <strong>Language of the web is JavaScript and its siblings</strong>
                                            <p>The body of the web is built with help of HTML and CSS. Python can do the backend brainy works like managing data, extracting information from database. Database is the energy reserve of the internet. While the internet is the veins in which data flows. Internet is written in C, C++ and Java. But it is run by JavaScript, Python and HTML.</p>
                                            <p>Before you try learning, decide why you want to learn. If you want a job, then get certified. To be in a team, in a big MNC you need certification from reputed schools or online platforms. Certificates test your memory, ability to learn and discipline to complete what you started. That is what MNCs want.</p>
                                            <p>If you are excited about technology, and want to go “Iron Man” over it then you have asked the correct question. JS + Python + HTML + CSS + SQL is a killer combination to master. These 5 takes care from the database to browser window. All these languages, and framework solve different problems. So you must learn to solve the problems in the style that these languages solve. Tricky??? Nope, make it easy and concentrate on problem solving mastery.</p>
                                            <p>If you want your resume to be displayed on the web page, there are series are steps to be taken by the browser. Computers work in such steps. So learning to solve the problems through steps is called Algorithmic Problem solving. Learn this first. Then you can learn the above 5 very easily. After you master problem solving, then you will feel there is no need of certification, you can rule the world. Yep, because every action on a computer is a problem 
                                                that gets solved. Whether it is bring this line of answer to the display, or getting the background color of the page, it is a problem that is solved. 
                                                So get kickin your problem solving chops…</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingTwo"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">How can I learn coding for free? Where can I practice coding for beginners?</button></h3>
                                    <div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo" data-bs-parent="#accordionExample2">
                                        <div class="accordion-body">
                                            <strong>Practicing to code is now possible in lot of online sites, like</strong>
                                              <ul>  
                                                <li>DMOJ,</li>
                                                <li>USACO Guide,</li>
                                                <li>CodeChefs,</li>
                                                <li>leetcode,</li>
                                                <li>Hackerrank,</li>
                                                <li>Kattis,</li>
                                                <li>projecteuler</li>
                                                <li>Visualgo (Interested in visualizing algorithms? Use this site after gaining experience)</li>
                                                <li>Google too is there… Codejam is their site</li>
                                                <li>Advent of Code</li>
                                              </ul>
                                              <p> There is nothing “Free” in this world. You “Spend” time on these sites to learn and improve yourself. Sites like DMOJ, USACO changed my mind atleast when it comes to learning to code, and myriad of books in the internet opened 
                                                  my eyes towards this interesting field. These sites are created and maintained by people who are passionate about problem solving, coding and making the life people like us easier. Their test cases are extremely well thought out.</p>
                                              <p>After 3 to 4 months I realised the potential of being good at problem solving. The sites are built by expert hackers, and coders who automate most of the tedious job of maintaining and publishing site</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingThree"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">I am a college student with 2 lakh rupees. I want to grow this money. Where should I invest?</button></h3>
                                    <div class="accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree" data-bs-parent="#accordionExample3">
                                        <div class="accordion-body">
                                            <strong>In yourself.</strong>
                                            <p> get a part time job to learn how the business works. Ridiculous? Think again, if you want to grow that 2L then you need discipline, exposure to people, entrepreneur mindset, risk taking ability. So start with securing a job.</p>

                                            <p>Depending on your major, you may choose different businesses to work for. Your intent is on learning not earning. What you earn, save 30% and spend the remaining in seeing the world or atleast your country.</p>

                                            <p>Reach out to books and read them like crazy. Target atleast 150 books a year. Spend the time on your body and mind’s health.</p>

                                            <p>It is a different way of growing wealth. Have a great day.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingFour"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">I’ve been trying to learn full stack development for 6 months but I think I am not ready for doing projects. What are some tips for learning full stack easily?</button></h3>
                                    <div class="accordion-collapse collapse" id="collapseFour" aria-labelledby="headingFour" data-bs-parent="#accordionExample4">
                                        <div class="accordion-body">
                                            <p> FullStack is HTML, CSS, JS(Java Script), Python and SQL programming. A Full stack developer is a master of all these. That is like trying to learn German & Japanese when you are working for a MNC company. A big task when you are beginning. So the solution, Start Small.
                                            Try building pages by scraping the data or by creating content and style them. It is simple, and small. Learn HTML, and CSS thoroughly. There is a book that teaches “HTML and CSS Nicely”. You will fall in love with HTML and CSS after reading it. Same author has written for JS, JQuery and Ajax too.
                                            Work on automating the page building using JQuery as next step. JS will be used fair amount, so you will need to keep some examples handy.</p>

                                           <p>Then bring in Python to automate the content creation or data delivery from a SQL database. I would suggest to use the data that are available on the net first. There are many data sources which provide you databases with data inside. You can try to build around it. Make some awesome looking protos and upload on your GIT Hub page. (Yep, add GIT to the list of tools you have to master)
                                            The interactivity can be improved with AJAX. The CSS will help you to style the title pages and subsequent content page. The layout again is a show stopper. So go ahead take a layout that is minimal. One or two pics, good navigation, content list, links and hover color changes. Rest of the features will be addons.
                                            When you start building small like a Lego, you will start seeing how everything works together. Then make it more complex, try breaking what you built and re-build it differently. Say, start with a different set of data in your database.
                                            You might wonder, how the other Full Stack developers learn so fast. You know the secret is Bitter Sweet. Full Stack development is about how good you are in Problem Solving. Master Problem solving using Code. Think about algorithmic problem solving 
                                            and master that. Computer speaks language of Logic and Algorithm, not English(Programming looks like English, so does Mathematics. Try reading advanced Math book, you will realize what I mean)</p> 

                                            <strong>What problem you are going to solve as Full Stack Developer?</strong>
                                            Automating the presentation of the information on multiple screens, over many types of networks and devices. If it feels overwhelming to you(I felt it strongly, and I gave up. 
                                            Then learnt how not to give up). When you find all these complicated, then change the book, course or the teacher. Keep finding ways to learn one new thing every hour.
                                            You have to continue your journey to master the Full Stack, or atleast the heart (JavaScript) and the brain (Python) keep that ultimate goal and start now. Have a great time.
                                            <code>.accordion-body</code>
                                            , though the transition does limit overflow.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headingFive"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">What are the online resources, books and websites that can be useful for learning Program Languages, Problem Solving?</button></h3>
                                <div class="accordion-collapse collapse" id="collapseFive" aria-labelledby="headingFive" data-bs-parent="#accordionExample5">
                                    <div class="accordion-body">
                                        <strong>There are couple of books that changes the way you learn programming languages, and specifically JavaScript.</strong>

                                        <li>JavaScript and jQuery Interactive Front-End</li>
                                        <li>Learn JavaScript & jQuery</li>
                                        https://www.javascriptbook.com/

                                        <li>Eloquent JavaScript_ A Modern Introduction to Programmin</li>
                                        https://eloquentjavascript.net/

                                        <li>Secrets of the JavaScript Ninj</li>
                                        <li>D3.js in Action Dat</li>
                                        <li>Functional Programming in JavaScrip</li>
                                        <li>Building_ML_with_Danf</li>

                                        <li>Learn HTML & CS</li>
                                        https://www.htmlandcssbook.com/

                                        <p>Problem Solving and coding practices shared below are mostly in python. You can complete the book first with python, then implement the programs in JS too.

                                        <li>Algorithmic Thinking</li>
                                        <li>Competitive Programming in Python</li>
                                        <li>Exercises for Programmers 57 Challenges</li>
                                        <li>Learn Python 3 the Hard Way</li>
                                        <li>Learn to Code by Solving Problems</li>
                                        <li>Python by Example - 150 Challenges</li>
                                        <li>Learn More python the Hard way</li>
                                        <li>Functional Programming in Python</li>
                                        <li>Tiny Python Projects</li>

                                        <p>The most of the above books have their own Github repo or websites where you can access the code. (Except 57 challenges…) The books are also available online for free. Just for the same, if unable to locate to connect with me. I am more than happy to share the resources.

                                        <p>Below are the list of online judge platforms which you can use train your problem solving skills. Just search for the website name in google. You will find them on the top of the search list.

                                        <p>DMOJ: Modern Online Judge</p>
                                        <p>https://dmoj.ca/problems/</p>
                                        <p>USACO</p>
                                        <p>http://usaco.org/index.php</p>
                                        <p>CodeChef | Programming Competition,Programming Contest,Online Computer Programming</p>
                                        <p>https://www.codechef.com/</p>
                                        <p>LeetCode - The World's Leading Online Programming Learning Platform</p>
                                        <p>Level up your coding skills and quickly land a job. This is the best place to expand your knowledge and get prepared for your next interview.</p>
                                        <p>https://leetcode.com/</p>
                                        <p>http://hackerrank.com</p>
                                        <p>https://open.kattis.com/login</p>
                                        <strong>About - Project Euler</strong>
                                        <p>About Project Euler What is Project Euler? Project Euler is a series of challenging mathematical/computer programming problems that will require more than just mathematical insights to solve. Although mathematics will help you arrive at elegant and efficient methods, the use of a computer and programming skills will be required to solve most problems. The motivation for starting Project Euler, and its continuation, is to provide a platform for the inquiring mind to delve into unfamiliar areas and learn new concepts in a fun and recreational context. Who are the problems aimed at? The intended audience include students for whom the basic curriculum is not feeding their hunger to learn, adults whose background was not primarily mathematics but had an interest in things mathematical, and professionals who want to keep their problem solving and mathematics on the cutting edge. Currently we have 1037424 registered members who have solved at least one problem, representing 220 locations throughout the world, and collectively using 108 different programming langues to solve the problems. Can anyone solve the problems? The problems range in difficulty and for many the experience is inductive chain learning. That is, by solving one problem it will expose you to a new concept that allows you to undertake a previously inaccessible problem. So the determined participant will slowly but surely work his/her way through every problem. What next? In order to track your progress it is necessary to setup an account and have Cookies enabled. If you already have an account, then Sign In . Otherwise, please Register – it's completely free! However, as the problems are challenging, then you may wish to view the Problems before registering. "Project Euler exists to encourage, challenge, and develop the skills and enjoyment of anyone with an interest in the fascinating world of mathematics."</p>
                                        <p>http://projecteuler.net</p>

                                        <strong>visualising data structures and algorithms through animation</strong>
                                        <p>Visu Algo .net/en visualising data structures and algorithms through animation Featured story: Visualizing Algorithms with a Click No result were found.> VisuAlgo is a trilingual site. Try visiting the other versions of VisuAlgo other than the default English version , e.g., Chinese or Indonesian . Users can see the translation statistics for these three pages (we strive to make all three near 100% soon). Unfortunately the translation progress with other languages are too far behind and they are thus redirected to English. In VisuAlgo, you can use your own input for any algorithm instead of using only the provided sample inputs. This is one of the key feature of VisuAlgo. Try the graph drawing feature in these 9 graph-related visualizations: Graph DS , DFS/BFS , MST , SSSP , Max Flow , Matching , MVC , Steiner Tree , and TSP . You can also click tag 'graph' in any of these 9 graph-related visualization boxes or type in 'graph' in the search box. On Wednesday, 22 December 2021, VisuAlgo moves to a new system. Here are some more noticeable visualization upgrades: /heap (try Compact Array mode plus PartialSort(), UpdateKey(i, newv), and Delete(i) operations), /bitmask (clearer this time), /ufds (more examples and new initialization mode). To compare 2 related algorithms, e.g., Kruskal's vs Prim's on the same graph, or 2 related operations of the same data structure, e.g., visualizing Binary (Max) Heap as a Binary Tree or as a Compact Array, open 2 VisuAlgo pages in 2 windows and juxtapose them. Click here to see the screenshot. This juxtaposition technique can be used anytime you want to compare two similar data structures or algorithms. You can visualize the recursion tree (or DAG, if there are overlapping subproblems and Dynamic Programming (DP) is applicable) of ANY valid recursive function that can be written in JavaScript. Click here to see the screenshot. Obviously do not try visualizing recursion with a gigantic recursion tree as doing so will crash your own web browser/computer. VisuAlgo loads fast for first time visitors (we use Cloudflare global CDN), but it loads 'almost instantly' for returning visitors as we also cache lots of static content of VisuAlgo :). So, do not use incognito or private browsing mode to keep the cache. Moreover, for NUS students with VisuAlgo accounts, we will load VisuAlgo according to your preferences/class setup after you login . Each visualization page has an 'e-Lecture Mode' that is accessible from that page's top right corner. This mode is automatically shown to first time (or non logged-in) visitors to showcase the data structure or algorithm being visualized. The quality of e-Lecture Mode will gradually be made to reach the lecture standard of algorithm classes in National University of Singapore :). Please check the newest features of VisuAlgo</p>
                                        <p>https://visualgo.net/en</p>
                                        <p>Code Jam - Google’s Coding Competitions</p>
                                        <p>Put your coding skills to the test as you work your way through multiple rounds of algorithmic coding puzzles for the title of Code Jam Champ and 15,000 USD.</p>
                                        <p>https://codingcompetitions.withgoogle.com/codejam/schedule</p>
                                        <p>Advent of Code 2021</p>
                                        <p>http://adventofcode.com</p>
                                        <strong>Codewars - Achieve mastery through coding practice and developer mentorship</strong>
                                        <p>Coding practice for all programming levels – Join a community of over 3 million developers and improve your coding skills in over 55 programming languages!</p>
                                        <p>http://codewars.com</p>
                                        <strong>Visualize Python, Java, C, C++, JavaScript, TypeScript, and Ruby code execution</strong>
                                        <p>VISUALIZE CODE EXECUTION Learn Python, Java, C, C++, JavaScript, and Ruby Python Tutor helps people overcome a fundamental barrier to learning programming: understanding what happens as the computer runs each line of code. You can use it to write Python, Java, C, C++, JavaScript, and Ruby code in your web browser and see its execution visualized step by step. Related services: Java Tutor , C Tutor , C++ Tutor , JavaScript Tutor , Ruby Tutor Over ten million people in more than 180 countries have used Python Tutor to visualize over 100 million pieces of code, often as a supplement to textbooks, lectures, and online tutorials. 
                                            To our knowledge, it is the most widely-used program visualization tool for computing education. You can also embed visualizations into any webpage. Here is a Python example:</p>
                                        <p>http://pythontutor.com</p>
                                        <p>Happy learning. Kindly share the above information to those interested in learning about the problem solving and programming.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="card border-0 bg-light mt-xl-5">
                                <div class="card-body p-4 py-lg-5">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <div class="text-center">
                                            <div class="h6 fw-bolder">Got questions? Get Crunching</div>
                                            <p class="text-muted mb-4">
                                                Contact me at
                                                <br />
                                                <a href="#!">kamaljp@gmail.com</a>
                                            </p>
                                            <div class="h6 fw-bolder">Also Wisdom Crunching @</div>
                                            <a class="fs-5 px-2 link-dark" href="https://mobile.twitter.com/KQrios"><i class="bi-twitter"></i></a>
                                            <a class="fs-5 px-2 link-dark" href="https://www.facebook.com/kamalMraj"><i class="bi-facebook"></i></a>
                                            <a class="fs-5 px-2 link-dark" href="https://www.linkedin.com/in/kamalraj-m-m-75b295150/"><i class="bi-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <%-include('layouts/footer');-%>
        <%-include('layouts/scripts');-%>
    </body>
</html>
